ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
 margin-top: 1rem;
 margin-right: 1rem;
}

.navBar button {
  background: rgb(152, 136, 136);
  color: darkred;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
  border: none;
}

.title {
  color: darkred
}