ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navbar-button {
 margin-top: 0.5rem;
 margin-right: 1rem;

}

.navBar button {
  padding: 0.4rem 0.5rem;
}
.border-box {
  border-style: solid rgb(144, 143, 143);
  background-color: rgb(141, 134, 134);
  box-shadow: 2px 2px 6px
}