.flex-container {
    display: flex;
    flex-direction: column
}

link{
    color:darkred;
}

.mb-3{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    box-shadow: darkred 2px 2px 6px;
}

.card-title{
    font-size: large;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card-text{
    font-size: small;
    padding-left: 2rem;
    padding-right: 2rem;
}
#cardColor {
    background-color: rgb(141, 134, 134);
}

.card-body {
    overflow-y: hidden;
    height: 9rem;
    padding: 1rem 4rem;
}
.image {
    height: 86%;
}
.card {
    height: 10.1rem;
    width: 92%
}
