.searchBar {
    margin-left: 17%
}
.search-button {
    color: darkred;
    background-color: transparent;
    border-color: darkred;
    margin-left: 1rem;
    font-size: medium;
    border-style: grey;
    box-shadow: 2px 2px 6px;

}

.input-search {
    background-color: transparent;
    border-color: darkred;
    width: 72%;
    box-shadow: 2px 2px 6px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}